.section {
    background: #fff;
    margin-top: 5vw;
}

.wrapper {
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.circle {
    width: 29.5vw;
    height: 29.5vw;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.08);

    padding: 5vw 4vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: transparent;
}

.circle:not(:first-child) {
    margin-left: -2.78vw;
}

.active {
    background: rgba(0, 120, 120, 0.04);
    border-color: rgba(0, 120, 120, 0.35);
}

.circle h3,
.boldItalic {
    font-family: var(--font-ag-palatial);
    font-size: 1.67vw;
    font-weight: 700;
    margin-bottom: 1.5vw;
}

.circle p {
    font-size: 1.38vw;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .circle {
        aspect-ratio: 1 / 1;
        width: 100%;
        max-width: 350px;
        height: auto;
        min-height: 350px;
        padding: 20vw 16vw;
    }

    .circle h3,
    .boldItalic {
        text-align: center;
        font-size: 5vw;
    }

    .circle p {
        text-align: center;
        font-size: 4vw;
    }

    .circle:not(:first-child) {
        margin-left: 0;
        margin-top: -10vw;
    }
}
