@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-hero-gradient {
    background:
            linear-gradient(
                    to bottom,
                    transparent 60%,
                    rgba(255, 255, 255, 0.3) 70%,
                    rgba(255, 255, 255, 0.6) 85%,
                    #ffffff 100%
            ),

            linear-gradient(
                    to bottom,
                    transparent 45%,
                    rgba(8, 118, 114, 0.35) 60%,
                    rgba(8, 118, 114, 0.15) 72%,
                    transparent 85%
            ),
            linear-gradient(
                    to bottom left,
                    #01040B 0%,
                    #01040B 2%,
                    #0A3F71 18%,
                    #087672 55%,
                    #FFFFFF 100%
            );
}


.bg-bottom-gradient {
    background:
            linear-gradient(
                    to top,
                    transparent 60%,
                    rgba(255, 255, 255, 0.3) 70%,
                    rgba(255, 255, 255, 0.6) 85%,
                    #ffffff 100%
            ),

            linear-gradient(
                    to top,
                    transparent 45%,
                    rgba(8, 118, 114, 0.35) 60%,
                    rgba(8, 118, 114, 0.15) 72%,
                    transparent 85%
            ),
            linear-gradient(
                    to top right,
                    #01040B 0%,
                    #01040B 2%,
                    #0A3F71 18%,
                    #087672 55%,
                    #FFFFFF 100%
            );
}