@import "tailwindcss";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
    --hero-dark: #01040B;
    --hero-blue: #0A3F71;
    --hero-green: #087672;
    --hero-white: #ffffff;

    --diag-dark-start: 0%;
    --diag-dark-end: 2%;
    --diag-blue: 18%;
    --diag-green: 55%;

    --fog-white-weak: 0.3;
    --fog-white-medium: 0.6;
    --fog-green-strong: 0.35;
    --fog-green-weak: 0.15;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-hero-gradient {
    background:
        /* белый туман вниз */
            linear-gradient(
                    to bottom,
                    transparent 60%,
                    rgba(255, 255, 255, var(--fog-white-weak)) 70%,
                    rgba(255, 255, 255, var(--fog-white-medium)) 85%,
                    var(--hero-white) 100%
            ),

                /* зелёный туман вниз */
            linear-gradient(
                    to bottom,
                    transparent 45%,
                    rgba(8, 118, 114, var(--fog-green-strong)) 60%,
                    rgba(8, 118, 114, var(--fog-green-weak)) 72%,
                    transparent 85%
            ),

                /* диагональная база */
            linear-gradient(
                    to bottom left,
                    var(--hero-dark) var(--diag-dark-start),
                    var(--hero-dark) var(--diag-dark-end),
                    var(--hero-blue) var(--diag-blue),
                    var(--hero-green) var(--diag-green),
                    var(--hero-white) 100%
            );
}



.bg-bottom-gradient {
    background:
        /* белый туман вверх */
            linear-gradient(
                    to top,
                    transparent 60%,
                    rgba(255, 255, 255, var(--fog-white-weak)) 70%,
                    rgba(255, 255, 255, var(--fog-white-medium)) 85%,
                    var(--hero-white) 100%
            ),

                /* зелёный туман вверх */
            linear-gradient(
                    to top,
                    transparent 45%,
                    rgba(8, 118, 114, var(--fog-green-strong)) 60%,
                    rgba(8, 118, 114, var(--fog-green-weak)) 72%,
                    transparent 85%
            ),

                /* диагональная база */
            linear-gradient(
                    to top right,
                    var(--hero-dark) var(--diag-dark-start),
                    var(--hero-dark) var(--diag-dark-end),
                    var(--hero-blue) var(--diag-blue),
                    var(--hero-green) var(--diag-green),
                    var(--hero-white) 100%
            );
}